<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="PhoneListCtrl">
  <h1>{{ title }}</h1>
  <input type="text" ng-model="query">
  <ul>
    <!-- тут буде фільтруватися по тому що введе користувач в інпуті -->
    <!-- <li ng-repeat="phone in phones | filter: query"> -->
    <!-- фільтр по функції з контролеру -->
    <!-- <li ng-repeat="phone in phones | filter: doneAndFilter"> -->
    <!-- тут виводиться вже відфільтрований масив, зручно для виводу кількості телефонів -->
    <li ng-repeat="phone in filterPhones = (phones | filter: query)">
      <span>{{ phone.name }}</span>
      <p>
        {{ phone.snippet }} <br />
        Status: {{ phone.status }} <br />
        Priority: {{ phone.priority }}
      </p>
    </li>
  </ul>
  <p>Загальна кількість телефонів: {{ filterPhones.length }}</p>

  <hr />

  <ul>
    <li>1. Currency: {{ 234 | currency }}</li>
    <li>2. Date: {{ 12312312311 | date:'dd.MM.yyyy' }}</li>
    <li>3. Number: {{1234.1 | number:3 }}</li><!-- 1234.100  -->
    <li>4. Json: <pre>{{ {'text':'text', 'text2':'text2'} | json }}</pre></li>
  </ul>

  <hr />

  <table>
    <tr>
      <th><a href="#" ng-click="sort('name')">
        Name
        <i class="glyphicon" ng-class="{'glyphicon-chevron-up' : isSprtUp('name'),
                                        'glyphicon-chevron-down' : isSprtDown('name')}">
                                      </i>
      </a></th>
      <th><a href="#" ng-click="sort('priority')">
        Priority
        <i class="glyphicon" ng-class="{'glyphicon-chevron-down' : isSprtUp('priority'),
                                        'glyphicon-chevron-up' : isSprtDown('priority')}">
                                      </i>
      </a></th>
    </tr>
    <!-- my variant -->
    <!-- <tr ng-repeat="phone in phones | orderBy: 'name'"> -->
    <!-- тут в orderBy сортується по sortField, якщо reverse буде true -  то норм,
     якщо ні то в реверсному порядку-->
    <tr ng-repeat="phone in phones | orderBy: sortField:reverse">
      <td>{{ phone.name }}</td>
      <td>{{ phone.priority }}</td>
    </tr>
  </table>

</body>
</html>
